- @title = t('title.home')
- @description = t('description.home')
- @bodyclass = "home"
- @home = true
- @file = File.basename(__FILE__, ".haml")

%article.box
  = image_tag "code.jpg",{:class => "fluid", :alt => "code"}
  %header
    %h1= t("home.projekt_header")
  %p= t("home.projekt")

%article.box
  = image_tag "html.jpg",{:class => "fluid", :alt => "html"}
  %header
    %h1= t("home.beratung_header")
  %p= t("home.beratung")
    

%article.box.last
  = image_tag "diagram.jpg",{:class => "fluid", :alt => "diagram"}
  %header
    %h1= t("home.entwicklung_header")
  %p= t("home.entwicklung")    