- @title = ''
- @bodyclass = "home"
- @home = true
- @file = File.basename(__FILE__, ".haml")

%article.box
  = image_tag "code.jpg",{:class => "fluid", :alt => "code"}
  :markdown
    #{t("home.projekt")}
  
    
%article.box
  = image_tag "html.jpg",{:class => "fluid", :alt => "html"}
  :markdown
    #{t("home.beratung")}
  
%article.box.last
  = image_tag "diagram.jpg",{:class => "fluid", :alt => "diagram"}
  :markdown
    #{t("home.entwicklung")}
    