- @title = I18n.t('title.kontakt')
- @description = I18n.t('description.kontakt')
- @bodyclass = "kontakt"
- @kontakt = true
- @plainLayout = true
- @file = File.basename(__FILE__, ".haml")

%section.box
  %h1= I18n.t("kontakt.kontakt")
  %p 
    %p#phone
      = I18n.t("kontakt.telefon")
    
    %p#mail
      = I18n.t("kontakt.mail")
      
    %br 
    
    = I18n.t("kontakt.name")
    %br  
    = I18n.t("kontakt.strasse")
    %br
    = I18n.t("kontakt.stadt")
    
%section.box
  %h1= I18n.t("kontakt.wo_header")
  %p= I18n.t("kontakt.wo_1")
  %p= I18n.t("kontakt.wo_2")
  
%section.box.last

  %h1= I18n.t("kontakt.anfrage")
  %form#contact{:action => 'javascript:;'}

    %label{:for => "name"}= I18n.t("form.name")
    %input{:type => "text", :name => "name", :id => "_name"}
  
    %label{:for => "mail"}= I18n.t("form.mail")
    %input{:type => "text", :name => "mail", :id => "_mail"}
  
    %label{:for => "anfrage"}= I18n.t("form.anfrage")
    %textarea{:type => "text", :name => "anfrage", :id => "_anfrage",  :rows => "10"}

    %br
  
    %button{:type => 'submit'}= I18n.t("form.abschicken")
    
    %p#note