- @title = t('title.ueber_mich')
- @description = t('description.ueber_mich')
- @bodyclass = "about"
- @about = true
- @plainLayout = true
- @file = File.basename(__FILE__, ".haml")

%section.box#ralph
  %header
    %h1= t("about.ueber_mich_header")
    
  = image_tag "ralph-moecklinghoff.jpg", {:alt => 'Ralph Möcklinghoff'}
  %p= t("about.ueber_mich")

%section.box#social-links
  %header
    %h1= t("about.links_header")
    
  %p= t("about.links")

  %p
    = link_to "XING", "http://www.xing.com/profile/Ralph_Moecklinghoff", {:class => "icons-xing"}
    = link_to "LinkedIn", "http://de.linkedin.com/in/ralphmoecklinghoff", {:class => "icons-linkedin"}
    = link_to "Google+", "https://plus.google.com/111711791402435561115?prsrc=3", {:rel => "author", :style => "text-decoration:none;", :class => "icons-google-plus-black"}
    = link_to "Twitter", "https://twitter.com/#!/RalphAtHamburg", {:class => "icons-twitter-2"}
    
      
%section.box.last#clients
  :markdown
    #{t("about.intro")}
    
    #{t("about.brands")}
    
    