%header
  %nav
    %ul
      %li= link_to I18n.t('menu.home'), '/index.html', :class => ('active' if @home)
      %li= link_to I18n.t('menu.ueber'), '/ueber_mich.html', :class => ('active' if @about)
      %li= link_to I18n.t('menu.blog'), blog.articles.first.url, :class => ('active' if is_blog_article?)
      %li= link_to I18n.t('menu.kontakt'), '/kontakt.html', :class => ('active' if @kontakt)
    
  .clr
  
  .headline= I18n.t("title.headline")
    
  .sub-headline= I18n.t("title.sub-headline")
  
  .intro= I18n.t("title.intro")
  