.termine

  .title= t("footer.termine")

  = link_to "", "http://re-publica.de/12/", { :class => "icons-republica" }
  
  %ul
  
    %li.header 2.11.2012 - 3.11.2012
    %li.topic
      = link_to 'Barcamp Hamburg', 'http://www.barcamp-hamburg.de/'
      
    %li.header 18.8.2012
    %li.topic
      = link_to 'UX Camp Hamburg', 'http://www.uxcamphh.de/'
      
    %li.header 8.3.2012
    %li.topic
      = link_to 'CeBIT', 'http://cebit.de/'
  
    %li.header 13-17.2.2012
    %li.topic
      = link_to 'Social Media Week Hamburg', 'http://socialmediaweek.org/hamburg/'
  
    %li.header 26.1.2012
    %li.topic
      = link_to 'Social Media Club Hamburg - "Is your Facebook fan page worth anything?"', 'https://www.xing.com/events/smchh-ladt-thema-is-your-facebook-fan-page-worth-anything-26-01-2012-857892'
  
    %li.header 11-12.11.2011
    %li.topic
      = link_to 'Barcamp Hamburg', 'http://www.barcamp-hamburg.de'
    
    %li.header 3.11.2011
    %li.topic
      = link_to "Social Media Club Hamburg - 'Social Media und die Musik'", 'https://www.xing.com/events/social-media-club-hamburg-event-03-11-2011-social-media-musik-830687'

    %li.header 29-30.10.2011
    %li.topic
      = link_to 'Railscamp Hamburg', 'http://railscamp-hamburg.de'
        
    %li.header 20.09.2011
    %li.topic
      = link_to 'betaclub no. 6', 'https://www.xing.com/events/betaclub-no-6-mirko-kaminski-ceo-achtung-809096'
    
    %li.header 05.09.2011
    %li.topic 
      = link_to 'User Centered Design bei Xing', 'http://uxhh.de/roundtable/'